services/automation/n8n/workflows/traffic-event-trigger.json
{
  "name": "Traffic Event Trigger \u2013 LogiFlow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "logiflow/traffic-event",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Traffic Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nreturn [{ json: payload }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Normalize Incoming Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_TARGET }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "eventType", "value": "={{ $json.eventType }}" },
            { "name": "vehicles",  "value": "={{ $json.vehicles }}" },
            { "name": "stops",     "value": "={{ $json.stops }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "POST to Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ String($json.received) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Check Webhook Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s001",
              "name": "message",
              "value": "Route re-optimization triggered successfully",
              "type": "string"
            },
            {
              "id": "s002",
              "name": "vehiclesAffected",
              "value": "={{ $('POST to Webhook').item.json.vehicleCount }}",
              "type": "number"
            },
            {
              "id": "s003",
              "name": "triggeredAt",
              "value": "={{ $('POST to Webhook').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Success \u2013 Route Re-optimization",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e001",
              "name": "message",
              "value": "Webhook delivery failed",
              "type": "string"
            },
            {
              "id": "e002",
              "name": "statusCode",
              "value": "={{ $('POST to Webhook').item.json.statusCode ?? 500 }}",
              "type": "number"
            },
            {
              "id": "e003",
              "name": "errorDetail",
              "value": "={{ $('POST to Webhook').item.json.error ?? 'Unknown error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Error \u2013 Webhook Delivery Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Traffic Event Webhook": {
      "main": [
        [
          {
            "node": "Normalize Incoming Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Incoming Payload": {
      "main": [
        [
          {
            "node": "POST to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Response": {
      "main": [
        [
          {
            "node": "Success \u2013 Route Re-optimization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error \u2013 Webhook Delivery Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "logiflow-sprint2-webhook-v1",
  "meta": {
    "instanceId": "logiflow-n8n-ci",
    "templateId": "logiflow-traffic-event-trigger"
  },
  "id": "logiflow-traffic-event-trigger",
  "tags": [
    {
      "createdAt": "2026-03-02T00:00:00.000Z",
      "updatedAt": "2026-03-02T00:00:00.000Z",
      "id": "tag-logiflow",
      "name": "logiflow"
    }
  ]
}
